#login-box{
    width 30%;
    height auto;
    border:1px solid #000;
    margin: 0 auto;
    margin-top:15%;
    text-align: center;
    background:#000000;
    padding: 20px 50px;
}

#login-box .form{
    margin-top: 50px;
}
#login-box h1{
    color:#fff;
}
#login-box .form .item i{
    font-size: 18px;
    color:#fff;
}
#login-box .form .item input{
    margin-top: 15px;;
}
#login-box .form .item input{
    width: 180px;
    font-size: 18;
    border: 0;
    border-bottom: 2px solid #000;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}
#login-box buttom{
    margin-top: 15px;
    width: 180px;
    height: 30px;
}